version: "3.8"
services:
  department-postgres-db:
    container_name: department-db
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: udemy_1
      POSTGRES_PASSWORD: udemy_1
      POSTGRES_DB: udemy_1
      POSTGRES_HOST_AUTH_METHOD: password
    ports:
      - "5444:5432"
  employee-postgres-db:
    container_name: employee-db
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: udemy_2
      POSTGRES_PASSWORD: udemy_2
      POSTGRES_DB: udemy_2
      POSTGRES_HOST_AUTH_METHOD: password
    ports:
      - "5445:5432"